<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAB0e1Oq6wCjDTNI038i4KwMo1_cZKijxA</string>
	<key>GCM_SENDER_ID</key>
	<string>634815997478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eventSphere</string>
	<key>PROJECT_ID</key>
	<string>event-sphere-app</string>
	<key>STORAGE_BUCKET</key>
	<string>event-sphere-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:634815997478:ios:6236e9ddd81405f0f1e8e7</string>
</dict>
</plist>